<% i = 0 %>
<% businesses.each do |business| %>

<% if (i > 4) && (i%4 == 0) do%>
  <%= </div><div class="row"> %>
<% end %>

<div class="medium-3 columns"><%= link_to business.name, business,id:'business'+business.id.to_s, remote:true, method: :get%></div>

<% i += 1 %>

<%end%>


