<%#= link_to "Add a place", new_business_path, remote: true %>

<%#= link_to "All places", businesses_path, remote: true %>

<div id="business-form"></div>

<div id="business-listing"></div>

<div id='map-box'>
  <div class="row">
    <div class="small-12 large-4 large-offset-1 columns">
      <ul class="pricing-table reviews-table">
        <li class="title">Reviews</li>
      <!--   <li class="description">An awesome description</li> -->
        <li class="bullet-item">Roof party tofu fingerstache, Banksy Odd Future twee craft beer seitan whatever raw denim freegan. Locavore viral readymade, quinoa tofu bespoke fanny pack messenger bag Thundercats raw denim roof party bitters. PBR&B drinking vinegar tousled banjo pickled pop-up, taxidermy skateboard mustache bitters scenester. </li>
      </ul>
    </div>
    <div class="small-12 large-5 columns end">
      <div id='map'></div>
    </div>
  </div>
</div>

<div id='businesses-list'>

  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">

    <% @businesses.each do |business| %>

    <li>
      <div class='index-listing'><%= link_to business.name, business,id:'business'+business.id.to_s, remote:true, method: :get%>
      <img class='business-image-show' src="<%= business.parseImageUrl %>">
      </div>
    </li>

     <% end %>
 
  </ul>

</div>







