<div class='page-wrapper'>

  <div id="business-form"></div>

  <div id="business-listing"></div>

  <div id='map-box'>
    <div class="row">
      <div class="small-12 large-4 columns end">
        <div id='map'></div>
      </div>
    </div>
  </div>

  <div id='businesses-list'>

    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">

      <% @businesses.each do |business| %>

      <li>
        <div class='index-listing'>
        <div class='image-container'>
       
          <%= link_to image_tag(business.parseImageUrl, :class => "business-image-show") +'some text', business, remote:true, method: :get %>
        </div>

        <!-- link helper that also assigns an individual id to each link on the page -->
        <div class='text-container'>
        <%= link_to business.name, business, id:'business'+business.id.to_s, remote:true, method: :get %>
        </div>
      </li>

       <% end %>
   
    </ul>

  </div>

</div>





