<%#= link_to "Add a place", new_business_path, remote: true %>

<%#= link_to "All places", businesses_path, remote: true %>

<div id="business-form"></div>

<div id="business-listing"></div>

<div id='map-box'>
  <div class="row">
    <div class="small-12 large-4 large-offset-1 columns">
      <h3>Reviews</h3>
    </div>
    <div class="small-12 large-5 columns end">
      <div id='map'></div>
    </div>
  </div>
</div>




<div id='businesses-list'>

  <% i = 0 %>
  <% @businesses.each do |business| %>
    <% if i==0 %>
      <%= render html: "<div class='row'>".html_safe  %>
    <% elsif (i > 3) && (i%4 == 0)%>
      <%= render html: "</div><div class='row'>".html_safe  %>
    <% end %>

    <div class="medium-3 columns"><%= link_to business.name, business,id:'business'+business.id.to_s, remote:true, method: :get%></div>

    <% i += 1 %>

  <%end%>

 
</div>







