// Place all the styles related to the businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#business_form, #business-listing {
  display:none;
}

#business-form {
  width: 40%;
  margin: 0 auto;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  width:90%;
  margin: 0 auto;
}

#map-box {
    display:none;
}

#map {
  height: 250px;
  width: 100%;

}

.listing-box {
  min-height: 290px;
  position: relative;
}

.business-image-show {
  width: 100%;
}

.top-row {
  height: 270px;
  overflow: hidden;
}

.index-listing {
  height:230px;
  width:330px;
  background: lightgrey;
/*  overflow:hidden;*/
}

.index-listing a {
  color: black;
  font-size: 1.1em;
}

.index-listing a:hover {
  color:#008CBA;
}

.text-container {
  margin-left: 10px;
  margin-top: 5px;
}

.index-listing .image-container {
  height: 190px;
  overflow:hidden;
}

input[type=submit] {

-webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem 1.0625rem 2rem;
    font-size: 1rem;
    background-color: #008CBA;
    border-color: #007095;
    color: #FFFFFF;
    transition: background-color 300ms ease-out;
}

.reviews-container {
  border: 1px #DDDDDD dotted;
  height: 180px;
  overflow:scroll;
  padding:5px;
}

.reviews-container p {
  font-size: 0.875rem;
}

.reviews-container h4 {
  font-size: 1rem;
}

.ratings-top-li {
  border-top:none;
}




