// Place all the styles related to the businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#business_form, #business-listing {
  display:none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-box {
    display:none;
}

#map {
  height: 250px;
  width: 386px;

}

.listing-box {
  min-height: 290px;
  position: relative;
}

.business-image {
  width: 100%;
}

.top-row {
  height: 290px;
  overflow: hidden;
}

